.testimonials {
  padding: 3rem;
  background-color: #EDEFEE;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #495E57;
  font-size: 2.5rem;
  font-weight: 600;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.testimonial-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.rating {
  margin-bottom: 1rem;
  color: #F4CE14;
}

.review-text {
  margin-bottom: 1rem;
  color: #495E57;
}

.reviewer-name {
  font-weight: bold;
  color: #333333;
}

